.skill-card-left {
    margin: 20px 0px;
    padding: 25px 35px 25px 79px;
    width: 597px;
    height: 200px;
    text-align: right;
    background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
    border-radius: 15px;
}

.skill-card-right {
    margin: 20px 0;
    padding: 25px 79px 25px 35px;
    width: 597px;
    height: 200px;
    text-align: left;
    background: linear-gradient(90deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
    border-radius: 15px;
}

.skill-title {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
}

.skill-text {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}