.audio-cover {
    margin: 25px 0;
    display: flex;
    width: 650px;
    height: 150px;
    background: linear-gradient(90deg, #C3E2DE 27.22%, #CFF1ED 48.89%, #EDFBF9 96.77%);
    border-radius: 15px;
}

.cover-shadow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px 35px 32px 40px;
    background: url('../../source/img/background/voice.png') center /cover no-repeat;
}

.audio-name {
    margin-bottom: 10px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: rgba(0, 0, 0, 0.8);
}

.audio-artist {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}

.playBtn {
    position: relative;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 25px 30px rgba(179, 228, 221, 0.3), 0px 9px 24px rgba(26, 127, 114, 0.23);
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.playBtn::after {
    position: absolute;
    content: '';
    top: 29px;
    left: 32px;
    width: 0px;
    height: 0px;
    border-left: 22px solid #FFFFFF;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}