.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 540px;
    padding: 50px 48px;
    background: #C4C4C4;
    border-radius: 20px;
}

.menu-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.card-text {
    width: 324px;
    height: 92px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}