.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 122px 150px;
  }
  .main-menu > .card:nth-child(1) {
    background: url('../img/background/main-menu-first-background.png') center / cover no-repeat;
  }
  
  .main-menu > .card:nth-child(2) {
    background: url('../img/background/main-menu-second-background.png') center / cover no-repeat;
  }
  
  .main-menu > .card:nth-child(3) {
    background: url('../img/background/main-menu-thirst-background.png') center / cover no-repeat;
  }