.simple-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
    border: none;
    border-radius: 50px;
}