* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
  background: rgba(59, 209, 187, 0.09);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-section {
  position: relative;
  height: 1195px;
  padding: 70px 0 0 0;
  background: url('../src/source/img/background/header_background.png') center / cover no-repeat;
}

.hero-section_title {
  width: 758px;
  margin: 0 auto;
  font-family: Merienda One;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
}

.hero-section_text {
  width: 1109px;
  margin: 22px auto 0;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.hero-section::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: calc(50% - 298px);
  width: 591px;
  height: 558px;
  background: url('./source/img/header_girl.png') center / cover no-repeat;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 122px 150px;
}
.main-menu > .card:nth-child(1) {
  background: url('./source/img/background/main-menu-first-background.png') center / cover no-repeat;
}

.main-menu > .card:nth-child(2) {
  background: url('./source/img/background/main-menu-second-background.png') center / cover no-repeat;
}

.main-menu > .card:nth-child(3) {
  background: url('./source/img/background/main-menu-thirst-background.png') center / cover no-repeat;
}

.practice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 77px 150px 61px;
  background: url('./source//img/background/practice-flower-background.png') right no-repeat;
}

.practice_title {
  width: 706px;
  margin-bottom: 22px;
  font-family: Merienda One;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.practice_text {
  width: 1105px;
  height: 62px;
  margin-bottom: 70px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.practice_list_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.practice_list_container > img {
  width: 745px;
  height: 594px;
}

.practice_list {
  list-style: none;
}

.practice_list > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 717px;
  padding: 35px 0px 35px 50px;
}

.practice_list > li:hover {
  position: relative;
  background: url('./source/img/background/practice_list-background.png') center / cover no-repeat;
}

.practice_list > li:hover::before {
  position: absolute;
  content: '';
  right: 67px;
  bottom: 23px;
  height: 24px;
  width: 102px;
  background: url('./source/img/arrow.png') center/cover no-repeat;
}

.practice_list_title {
  margin-bottom: 10px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.practice_list_text {
  width: 619px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./source/img/background/music-background.png') center / cover no-repeat;
}

.music_title {
  margin-bottom: 22px;
  font-family: Merienda One;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.music_text {
  width: 1105px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.audio-container {
  display: flex;
}

.audio-container > img {
  width: 923px;
  height: 941px;
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}